name: Gradle Dependency Submission

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Warm up dependencies (app:dependencies)
        run: ./gradlew :app:dependencies --stacktrace --info

      - name: Submit Dependencies to GitHub
        uses: gradle/actions/dependency-submission@v3