name: Gradle Dependency Submission

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Submit dependencies via Gradle action
        uses: gradle/actions/dependency-submission@v3
        with:
          build-root-directory: '.'
          gradle-project-paths: 'library'
          gradle-executable: ./gradlew
          arguments: ":library:assemble --stacktrace --info --no-daemon"