name: Gradle Dependency Submission

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Submit Dependencies to GitHub
        uses: gradle/actions/dependency-submission@v3